/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body{
  background-color: rgb(37, 2, 70);
}
.logo{
  height: 60px;
  width: 60px;
  margin-top: 5px;
}
.heading{
  font-size: 45px;
}
.font-size{
  font-size: 12px;
}
.input-field{
  outline: none;
  height: 60px;
  font-size: 20px;
  color: white;
  background-color: rgb(77, 41, 109);
}
.input-field::placeholder{
  color: rgb(190, 146, 231);
}
.search-btn{
  font-size: 20px;
  color: rgb(190, 146, 231);
  background-color: rgb(77, 41, 109);
}
.movie-card{
  height: 250px;
  width: auto;
  /* margin-top: 30px; */
  justify-content: center;
}
.card-bg{
  background-color: rgb(190, 146, 231) ;
  margin: 4px;
}
.text-overFlow{
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* line-clamp: 1; */
}
.single-poster{
  height: 450px;
}
.text-grey{
  color: gray;
  font-weight: 500;
}
.text-yellow{
  color: yellow;
}